th, td, table {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    width: 100px;
    text-align: center;
  }
  
  tbody tr:nth-child(2n) {
    background-color: aqua;
  }
  
  .sub-table tr{
    border: 1px solid blue;
  }
  
  .sub-table td{
    border: none;
  }
  
  th:first-child, td:first-child {
    color: white;
    background-color: red;
    position: sticky;
    left: 0;
  }
  
  .container {
    max-width: 500px;
    border: 5px solid black;
    overflow-x: scroll;
    height: 300px;
  }
  
  thead tr {
    position: sticky;
    top: 0;
    color: white;
    background-color: red;
  }
  