/* a{
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius: 999px;
    padding: 8px 16px ;
    height:17px;
    display: inline-block;
    min-width: 100px;
    text-align: center;
} */
figrue {
    transition: 10s;
}

input:checked~figure {
    /* display: none; */
    visibility:hidden;
  	opacity:0;

}